@model IEnumerable<WebApplication2.Models.Student>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    if(TempData["insert_message"]!=null)
    {
        <div class="alert alert-warning alert-dismissible fade show" color="green" role="alert">
            <strong>Sucess!</strong>@TempData["insert_message"]
            <button type="button" class="close" data-bs-dismiss ="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    if (TempData["update_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Sucess!</strong>@TempData["update_message"]
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
    if (TempData["Delete_message"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong>Sucess!</strong>@TempData["Delete_message"]
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.studentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.firstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.lastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.grade)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.studentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.firstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.lastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.grade)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.studentId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.studentId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.studentId })
            </td>
        </tr>
}
    </tbody>
</table>
